<head>
    <title>Ketchup - Team Pomodoro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="/favicon.png?v=2" />
</head>

<body></body>

<template name="layout">
    <div class="container-fluid">
        <div class="row header">
                <div class="col-sm-12">
                <span class="home">// Ketchup</span>
                {{#if currentUser}}
                    <div class="pull-right tools">
                        <i class="{{pomodoroSelected}} glyphicon glyphicon-hourglass btn-pomodoro"></i>
                        <i class="{{teamsSelected}} glyphicon glyphicon-user btn-teams"></i>
                        <i class="{{chartsSelected}} glyphicon glyphicon-stats btn-charts"></i>
                        <i class="{{settingsSelected}} glyphicon glyphicon-cog btn-settings"></i>
                        <i class="glyphicon glyphicon-log-out btn-logout"></i>
                    </div>
                {{/if}}
            </div>
        </div>
        {{> yield}}
    </div>
    <footer class="text-muted small text-center"><hr>Version: 1.4.0 | Powered by <a href="https://meteor.com">Meteor</a> and <a href="https://github.com/scyv/ketchup">Github</a></footer>

</template>