<template name="pomodoro">
    {{#if pomodoroLoading}}
        Laden...
    {{else}}
        <div class="row">
            <div class="col-xs-12">
                {{#if runningPomodoro}}
                    {{#with runningPomodoro}}
                        <button class="btn btn-interrupt btn-danger">Unterbrechen</button>
                        <br>
                        Läuft: {{formattedTime timeRunning}}<br>
                        Übrig: {{formattedTime timeLeft}}<br>
                    {{/with}}
                {{else}}
                    <button class="btn btn-start btn-success">Start</button>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Pomodoros insgesamt: {{pomodoroCount}}
            </div>
        </div>
    {{/if}}
</template>