<template name="teams">
    {{#if teamsLoading}}
        <p class="text-center">Laden...</p>
    {{else}}
        {{#each teams}}
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-link btn-leave-team pull-right">
                        <i class="glyphicon glyphicon-remove"></i> Team Verlassen
                    </button>
                    {{#if isTeamOwner}}
                        <button class="btn btn-link btn-edit-team pull-right"><i class="glyphicon glyphicon-edit"></i> Bearbeiten</button>
                    {{/if}}
                    <h1>{{name}}<h5 class="text-sm text-muted">{{teamPomodoroCount}} Pomodoros | {{teamPomodoroInterruptions}} Unterbrechungen</h5></h1>
                    {{#if membersLoading}}
                        <p class="text-center">Laden...</p>
                    {{else}}
                        <ul class="list-group">
                            {{#each members}}
                                {{#each runningPomodoro}}
                                    <li class="list-group-item focused member-{{../_id}}">
                                        {{#if notSelf}}
                                            <button class="btn btn-sm btn-danger pull-right btn-subscribe {{isActive}}"
                                                    title="Anmelden: Teammitglied wird zu Beginn der Pause benachrichtigt.">
                                                <i class="glyphicon glyphicon-bullhorn"></i>
                                            </button>
                                        {{/if}}
                                        <h4 class="list-group-item-heading">{{../profile.name}}</h4>
                                        <div class="list-group-item-text">
                                            <span class="">Pause in {{formattedTime timeLeft}}</span>
                                            {{> subscriptionList ../_id}}
                                        </div>
                                    </li>
                                {{else}}
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading">{{profile.name}}</h4>
                                        <div class="list-group-item-text">
                                            <span>&nbsp;</span>
                                            {{> subscriptionList _id}}
                                        </div>
                                    </li>
                                {{/each}}
                            {{else}}
                                <li>Nix los</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </div>
            <hr/>
        {{else}}

        {{/each}}
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-success btn-create-team"><i class="glyphicon glyphicon-plus"></i> Team erstellen</button>
                <button class="btn btn-primary btn-join-team"><i class="glyphicon glyphicon-user"></i> Team beitreten</button>
            </div>
        </div>
    {{/if}}
</template>

<template name="subscriptionList">
    <p>
        {{#each subscriptions}}
            <span class="label label-danger"><i class="glyphicon glyphicon-bullhorn"></i> {{.}}</span>
        {{/each}}
    </p>
</template>
