<template name="team">
    {{#with selectedTeam}}
        <form>
            <div class="form-group">
                <label for="inputTeamName">Teamname</label>
                <input type="text" class="form-control" id="inputTeamName" placeholder="Der Name des Teams" value="{{name}}">
            </div>
            <div class="form-group">
                <label for="inputKey">Beitrittsschlüssel</label><p class="text-muted">Teilen Sie diesen Schlüssel an Kollegen zum Beitritt in das Team</p>
                <input type="text" disabled="disabled" class="form-control" id="inputKey" placeholder="Teilen Sie diesen Schlüssel an Kollegen zum Beitritt in das Team" value="{{key}}">
            </div>
            <div class="form-group">
                <label>Teammitglieder</label>
                <div class="list-group">
                    {{#each members}}
                        <div class="list-group-item">
                            <div class="pull-right">
                                <i class="glyphicon glyphicon-remove clickable btn-remove-teammember" title="{{profile.name}} aus dem Team entfernen."></i>
                            </div>
                            {{profile.name}}
                        </div>
                    {{else}}
                        Keine weiteren Teammitglieder
                    {{/each}}
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-save">
                {{#if saveSuccess}}
                    <i class="glyphicon glyphicon-ok save-success"></i>
                {{else}}
                    <i class="glyphicon glyphicon-ok"></i>
                {{/if}}
                Speichern
            </button>
            <button type="submit" class="btn btn-link btn-cancel"><i class="glyphicon glyphicon-remove"></i> Zurück</button>
        </form>
    {{/with}}
</template>