<template name="teams">
    {{#if teamsLoading}}
        Laden...
    {{else}}
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success btn-create-team">Team erstellen</button>
                <button class="btn btn-primary btn-join-team">Team beitreten</button>
            </div>
        </div>
        {{#each teams}}
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{name}}</h1>
                    <button class="btn btn-default btn-edit-team">Bearbeiten</button>
                    <button class="btn btn-default btn-leave-team">Verlassen</button>
                    <p>Schlüssel zum beitreten: {{key}}</p>
                    {{#if membersLoading}}
                        Laden...
                    {{else}}
                        <h4>Mitglieder</h4>
                        {{#each members}}
                            <div class="row">
                                <div class="col-xs-12">
                                    {{profile.name}}
                                    {{#with runningPomodoro}}
                                        FOCUSED: {{formattedTime timeRunning}}
                                    {{/with}}
                                </div>
                            </div>
                        {{else}}

                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <hr />
        {{else}}

        {{/each}}
    {{/if}}
</template>
